<h1>User</h1>
<ul>
  <li *ngFor="let user of users"> {{ user.name }}</li>
</ul>

<form [formGroup]="formUser" (ngSubmit)="onSubmit()" *ngIf="formUser">
  <label for="id">Id</label>
  <input name="id" id="id" formControlName="id">

  <label for="name">Nome</label>
  <input name="name" id="name" formControlName="name">

  <label for="user">User</label>
  <input name="user" id="user" formControlName="user">

  <label for="password">Password</label>
  <input name="password" id="password" formControlName="password">

  <label for="status">Status</label>
  <select name="status" id="status" formControlName="status">
    <option value="A">Ativo</option>
    <option value="I">Inativo</option>
  </select>
  <button type="submit">Salvar</button>
</form>